.card {
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 12px;
  margin: 10px;
}

.cardimg {
  margin: 10px auto 0px auto;
}

.cardtitle {
  margin-top: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  color: #373737;
  margin-left: 10px;
}

.carddes {
  margin-top: 6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #373737;
  margin-left: 10px;
}

.cardprice {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 15px;
  color: #373737;
  margin-left: 10px;
}

.cardbtn {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardbtn1 {
  width: 80px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4.38824px 10.9706px;
  gap: 10.97px;
  background: #f5f5f5;
  border-radius: 109.706px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10.9706px;
  color: #373737;
  line-height: 100%;
  border: none;
  margin-right: 6px;
}

.cardbtn2 {
  width: 120px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9.78462px 19.5692px;
  gap: 4.89px;
  background: linear-gradient(114.51deg, #6bcb07 -12.5%, #06bfc9 94.9%);
  border-radius: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 0.02em;
  border: none;
  margin-right: 23px;
}
