.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato";
  min-height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contenttoplisting {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  mix-blend-mode: normal;
}