.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato";
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content1 {
  height: 485;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.content2 {
  margin-top: 130px;
  width: 100%;
  height: 540px;
  background: linear-gradient(180deg, #000000 0%, #214a67 100%);
  mix-blend-mode: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.content3 {
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  mix-blend-mode: normal;
}

.content4 {
  width: 100%;
  height: 1840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #000000 0%, #214a67 100%);
  mix-blend-mode: normal;
}

.content5 {
  width: 100%;
  height: 575px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.children1 {
  display: flex;
  flex-direction: row;
  height: 122px;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(114.51deg, #6bcb07 -12.5%, #06bfc9 94.9%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Oswald-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 122px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.06em;
}

.children2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.children3 {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
}

.children4 {
  height: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.childchild {
  margin-right: 30px;
}

.child1 {
  display: flex;
  flex-direction: row;
}

.child2 {
  font-family: "Lato-Black";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  margin-top: 30px;
}

.child3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.cre {
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  background: gray;
  border-radius: 30px;
}
.own {
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 30px;
}
.collet {
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  background: black;
  border-radius: 30px;
  color: white;
}

.ch1 {
  border-right: 1px solid #ededed;
  width: 150px;
  margin-right: 50px;
}

.ch2 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.char1 {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #6a6a6a;
}

.char2 {
  font-family: "Lato-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  color: #373737;
  margin-right: 5px;
}

.char3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.char4 {
  font-family: "Lato-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #373737;
  margin-top: 12px;
  margin-right: 8px;
}

.char5 {
  font-family: "Oswald-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 137.705px;
  height: 165px;
  letter-spacing: -0.09em;
  background: linear-gradient(180deg, #ffb800 32.81%, #ff4d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.char6 {
  font-family: "Oswald-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 76.9529px;
  line-height: 80px;
  letter-spacing: -0.075em;
  color: #ffffff;
  margin-top: 10px;
}

.btnbid {
  font-family: "Lato-Bold";
  height: 60px;
  width: 365px;
  padding: 20px 30px;
  background: #003935;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.dot {
  position: absolute;
  z-index: -1;
  left: 430px;
  top: 670px;
}

.plus {
  margin-top: 15px;
  margin-left: 5px;
}

.i {
  height: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.085em;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 10px;
}

.discovermore {
  height: 154px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.discover {
  height: 120px;
  font-family: "Oswald-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 148px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 6px;
}

.more {
  height: 154px;
  display: flex;
  flex-direction: column;
}

.morechar {
  height: 120px;
  font-family: "Oswald-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 148px;
  letter-spacing: -0.02em;
  background: linear-gradient(180deg, #ffb800 32.81%, #ff4d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.menu {
  width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.groupbtn {
  display: flex;
  flex-direction: row;
}

.btnactive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background: #6bcb07;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 2px;

  font-family: "DMSans-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.btnunactive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background: #ffffff;
  border-radius: 100px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 2px;

  font-family: "DMSans-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btnfilt {
  width: 115px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  gap: 10px;
  border: 1px solid #ffffff;
  border-radius: 100px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: transparent;
}

.groupcard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 1200px;
}

.btnmore {
  width: 219px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background: #ffffff;
  border-radius: 50px;
  padding: 20px 40px;
  gap: 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #003935;
  border: 0.5px solid #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.wizard {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.wizardtitle {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.wizarddis {
  font-family: "DMSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #636363;
  margin-top: 25px;
}

.wizardavt {
  position: absolute;
  z-index: -1;
  background: rgba(196, 196, 196, 0.3);
  filter: blur(15px);
  transform: rotate(-2.45deg);
  margin-top: 170px;
  margin-left: 460px;
  border-radius: 200px;
}

.btnstart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 306px;
  height: 60px;
  background: #003935;
  border-radius: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 35px;
}

.footer {
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ededed;
  /* opacity: 0.3; */
}

.footerct {
  width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.footerct1 {
  width: 322px;
}

.footerct2 {
  width: 100px;
}

.footerct3 {
  width: 100px;
}

.footerct4 {
  width: 360px;
}

.chartitle {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
  color: #373737;
}

.footerchar {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #565656;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  background: #ffffff;
  border: 2px solid #f1f1f1;
  border-radius: 45.595px;
}

.fieldemail {
  border: none;
  margin: 5px 0px 5px 10px;
  border-radius: 45.595px;
}

.btnemail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15.1983px 30.3967px;
  gap: 7.6px;
  background: linear-gradient(114.51deg, #6bcb07 -12.5%, #06bfc9 94.9%);
  border-radius: 45.595px;
  border: none;
  margin: 5px 0;

  font-family: "Lato-Bold";
  font-style: normal;
  /* font-weight: 500; */
  font-size: 12.1587px;
  line-height: 15px;
  letter-spacing: 0.065em;
  color: #ffffff;
  border: 0.379958px solid #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footerend {
  width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.footerend1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #a4a4a4;
}

.footerend2 {
  display: flex;
  flex-direction: row;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #a4a4a4;
}
