.rank {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.ranktitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #373737;
}

.rankdropbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6bcb07;
  margin-bottom: 14px;
}

.rankcard {
  width: 365px;
  height: 102px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}

.rankstt {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 103%;
  letter-spacing: -0.025em;
  color: #000000;
}

.rankavt1 {
  width: 60px;
  height: 60px;
  /* border-radius: 30px; */
}

.rankcheck {
  position: absolute;
  margin-left: 38px;
}

.rankbody {
  width: 165px;
  display: flex;
  flex-direction: column;
}

.rankbodytitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #373737;
}

.rankbodyprice {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 103%;
  letter-spacing: -0.025em;
  color: #6a6a6a;
  margin-top: 12px;
}

.rankfooterc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 103%;
  text-align: right;
  letter-spacing: -0.025em;
  color: #6bcb07;
}

.rankfootert {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 103%;
  text-align: right;
  letter-spacing: -0.025em;
  color: #f01866;
}
