.contentwizard {
  width: 100%;
  height: 575px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wizard {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.wizardtitle {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.wizarddis {
  font-family: "DMSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #636363;
  margin-top: 25px;
}

.wizardavt {
  position: absolute;
  z-index: -1;
  background: rgba(196, 196, 196, 0.3);
  filter: blur(15px);
  transform: rotate(-2.45deg);
  margin-top: 170px;
  margin-left: 460px;
  border-radius: 200px;
}

.btnstart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 306px;
  height: 60px;
  background: #003935;
  border-radius: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 35px;
}
